<!DOCTYPE html>
<html>
<head>
  <title>WiringPi Mini-Reference</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<div class="container">
  <h1 class="text-center">WiringPi Mini-Reference</h1>
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><%= link_to 'Top', root_path %></li>
    <li role="presentation"><%= link_to 'Reference', references_path %></li>
    <li role="presentation"><%= link_to 'Reference Editer', new_reference_path %></li>
  </ul>
</div>
</header>

<div class="container">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>

</body>
</html>
